<div class="container">
    
    <nav aria-label="breadcrumb" class="my-3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Computing</a></li>
 
      </ol>
    </nav>
</div>
    <section id="section1" class="my-5">
        <div class="container">
            <div class="row" id="allproduct">
             <h4>shop by category</h4>
             <div class="col-md-2 col-6">
                <div class="text-center products">
                    <div class="">
                        <img   id=""  src="./assets/img/work-1.jpg" class="mb-2 mt-2 image" alt="...">
                    </div>
                    <div class="text-center">
                        <p class="card-text">Phones</p>
                         
                    </div>
 
                </div>

             </div>
             <div class="col-md-2 col-6">
                <div class="text-center products">
                    <div class="">
                        <img   id=""  src="./assets/img/work-2.jpg" class="mb-2 mt-2 image" alt="...">
                    </div>
                    <div class="text-center">
                        <p class="card-text">Accessories</p>
                         
                    </div>
 
                </div>

             </div>
             <div class="col-md-2 col-6">
                <div class="text-center products">
                    <div class="">
                        <img   id=""  src="./assets/img/work-3.jpg" class="mb-2 mt-2 image" alt="...">
                    </div>
                    <div class="text-center">
                        <p class="card-text">Computers</p>
                         
                    </div>
 
                </div>

             </div>
             <div class="col-md-2 col-6">
                <div class="text-center products">
                    <div class="">
                        <img   id=""  src="./assets/img/work-4.jpg" class="mb-2 mt-2 image" alt="...">
                    </div>
                    <div class="text-center">
                        <p class="card-text">Laptops</p>
                         
                    </div>
 
                </div>

             </div>
             <div class="col-md-2 col-6">
                <div class="text-center products">
                    <div class="">
                        <img   id=""  src="./assets/img/work-5.jpg" class="mb-2 mt-2 image" alt="...">
                    </div>
                    <div class="text-center">
                        <p class="card-text">Tablets</p>
                         
                    </div>
 
                </div>

             </div>
             <div class="col-md-2 col-6">
                <div class="text-center products">
                    <div class="">
                        <img   id=""  src="./assets/img/work-6.jpg" class="mb-2 mt-2 image" alt="...">
                    </div>
                    <div class="text-center">
                        <p class="card-text">Desktops</p>
                         
                    </div>
 
                </div>

             </div>

            </div>
        </div>
    </section>
    <section id="section2" class="my-5">
        <div class="container">
            <div class="row">
                <h4>shop by brand</h4>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary m-2">Acer</button>
                    <button type="button" class="btn btn-outline-primary m-2">Apple</button>
                    <button type="button" class="btn btn-outline-primary m-2">DELL</button>
                    <button type="button" class="btn btn-outline-primary m-2">Generic</button>
                    <button type="button" class="btn btn-outline-primary m-2">HP</button>
                    <button type="button" class="btn btn-outline-primary m-2">Acer</button>
                    <button type="button" class="btn btn-outline-primary m-2">Apple</button>
                    <button type="button" class="btn btn-outline-primary m-2">DELL</button>
                    <button type="button" class="btn btn-outline-primary m-2">Generic</button>
                    <button type="button" class="btn btn-outline-primary m-2">HP</button>
                   
                  </div>
            </div>

        </div>
    </section>
    <section class="my-5">
      <div class="container">
        <div class="row">
            <h4>Top Offers</h4>
            <div class="card-group">
                <div class="card">
                    <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
                    <div class="card-body">
                      <p class="card-title text-muted">Lenovo</p>
                      <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
                      <p class="card-text"></p>
                      <div>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <span class="">40 reviews</span>
                      </div>
                      <h5 class="card-title my-2">EGP 4,999.00</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
                    <div class="card-body">
                      <p class="card-title text-muted">Lenovo</p>
                      <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
                      <p class="card-text"></p>
                     <div>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <span class="">40 reviews</span>
                      </div>
                      <h5 class="card-title my-2">EGP 4,999.00</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
                    <div class="card-body">
                      <p class="card-title text-muted">Lenovo</p>
                      <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
                      <p class="card-text"></p>
                     <div>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <span class="">40 reviews</span>
                      </div>
                      <h5 class="card-title my-2">EGP 4,999.00</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
                    <div class="card-body">
                      <p class="card-title text-muted">Lenovo</p>
                      <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
                      <p class="card-text"></p>
                      <div>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <span class="">40 reviews</span>
                      </div>
                      <h5 class="card-title my-2">EGP 4,999.00</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
                    <div class="card-body">
                      <p class="card-title text-muted">Lenovo</p>
                      <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
                      <p class="card-text"></p>
                     <div>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                      <span class="">40 reviews</span>
                      </div>
                      <h5 class="card-title my-2">EGP 4,999.00</h5>
                    </div>
                </div>
                
              </div>
        </div>
      </div>
    </section>
    <section id="section3" class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Department
                            <ul>
                            <li>Computing</li>
                        <li>Computer Accessories</li>
                        <li>Computers & Accessories</li>
                            </ul>
                        </li>
                        <li class="list-group-item p-3">
                            Filter By Brands
                            <input type="text" class="form-control my-3" value="Find a Brand">
                            <ul class="">
                                <li class="">
                                  <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                  First checkbox
                                </li>
                                <li class="">
                                  <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                  Second checkbox
                                </li>
                                <li class="">
                                  <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                  Third checkbox
                                </li>
                                <li class="">
                                  <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                  Fourth checkbox
                                </li>
                                <li class="">
                                  <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                  Fifth checkbox
                                </li>
                              </ul>
                        </li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                      </ul>

                </div>
                <div class="col-md-9">

                    <div class="container">
    
                      
                      <h4 class="mb-2">Laptop Accessories</h4>
                      <p class=" mb-3 text-muted" >Computers & Accessories Computers & Accessories</p>
                      
                      <p class="border-bottom" ></p>
                      <div class="my-3">
                          <span class="badge rounded-pill bg-danger m-1">filter</span>
                      <span class="badge rounded-pill bg-danger m-1">price</span>
                      <span class="badge rounded-pill bg-danger m-1">brand</span>
                      <span class="badge rounded-pill bg-danger m-1">color</span>
                      </div>
                      <div class="row my-3">
                        <div class="card-group">
                            <div class="card">
                                <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
                                <div class="card-body">
                                  <p class="card-title text-muted">Lenovo</p>
                                  <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
                                  <p class="card-text"></p>
                                  <div>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <span class="">40 reviews</span>
                                  </div>
                                  <h5 class="card-title my-2">EGP 4,999.00</h5>
                                </div>
                            </div>
                            <div class="card">
                                <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
                                <div class="card-body">
                                  <p class="card-title text-muted">Lenovo</p>
                                  <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
                                  <p class="card-text"></p>
                                 <div>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <span class="">40 reviews</span>
                                  </div>
                                  <h5 class="card-title my-2">EGP 4,999.00</h5>
                                </div>
                            </div>
                            <div class="card">
                                <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
                                <div class="card-body">
                                  <p class="card-title text-muted">Lenovo</p>
                                  <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
                                  <p class="card-text"></p>
                                 <div>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <span class="">40 reviews</span>
                                  </div>
                                  <h5 class="card-title my-2">EGP 4,999.00</h5>
                                </div>
                            </div>
                            <div class="card">
                                <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
                                <div class="card-body">
                                  <p class="card-title text-muted">Lenovo</p>
                                  <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
                                  <p class="card-text"></p>
                                  <div>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <span class="">40 reviews</span>
                                  </div>
                                  <h5 class="card-title my-2">EGP 4,999.00</h5>
                                </div>
                            </div>
               
                            
                          </div>
                        <div class="card-group">
                           
                            <div class="card">
                                <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
                                <div class="card-body">
                                  <p class="card-title text-muted">Lenovo</p>
                                  <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
                                  <p class="card-text"></p>
                                 <div>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <span class="">40 reviews</span>
                                  </div>
                                  <h5 class="card-title my-2">EGP 4,999.00</h5>
                                </div>
                            </div>
                            <div class="card">
                                <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
                                <div class="card-body">
                                  <p class="card-title text-muted">Lenovo</p>
                                  <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
                                  <p class="card-text"></p>
                                 <div>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <span class="">40 reviews</span>
                                  </div>
                                  <h5 class="card-title my-2">EGP 4,999.00</h5>
                                </div>
                            </div>
                            <div class="card">
                                <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
                                <div class="card-body">
                                  <p class="card-title text-muted">Lenovo</p>
                                  <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
                                  <p class="card-text"></p>
                                  <div>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <span class="">40 reviews</span>
                                  </div>
                                  <h5 class="card-title my-2">EGP 4,999.00</h5>
                                </div>
                            </div>
                            <div class="card">
                                <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
                                <div class="card-body">
                                  <p class="card-title text-muted">Lenovo</p>
                                  <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
                                  <p class="card-text"></p>
                                 <div>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
                                  <span class="">40 reviews</span>
                                  </div>
                                  <h5 class="card-title my-2">EGP 4,999.00</h5>
                                </div>
                            </div>
                            
                          </div>
                       
                         
                      </div>
                      
                        <div class="m-auto my-5">
                          <nav aria-label="Page navigation example">
                              <ul class="pagination justify-content-center">
                                <li class="page-item">
                                  <a class="page-link rounded-5 text-black" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                                <li class="page-item "><a class="page-link rounded-5  text-black" style="background-color: yellow;" href="#">1</a></li>
                                <li class="page-item"><a class="page-link rounded-5 text-black" href="#">2</a></li>
                                <li class="page-item"><a class="page-link rounded-5 text-black" href="#">3</a></li>
                                <li class="page-item">
                                  <a class="page-link rounded-5 text-black" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                              </ul>
                            </nav>
                        </div>
                      </div>
                      
                </div>
            </div>
        </div>

    </section>


